@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "min-viewport-width": map-merge(
      map-get($utilities, "min-viewport-width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "min-viewport-width"), "values"),
          (20: 20vw, 30: 30vw, 35: 35vw, 40: 40vw),
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "max-width": map-merge(
      map-get($utilities, "max-width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "max-width"), "values"),
          (5: 5%, 10: 10%),
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "max-viewport-width": (
      property: max-width,
      class: max-vw,
      values: (5: 5vw, 7: 7vw, 10: 10vw),
    )
  )
);

@import "~bootstrap/scss/bootstrap";