/*h1 {
    color: #27aedb;
    text-align: center;
}*/

input.rw-detect-autofill {
    display: none;
}

input.rw-input {
    max-width: 70px;
}

span.rw-dropdown-list-value {
    white-space: pre-wrap !important;
}